.bcImg {
  background-image: url("field.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fut-player-card:hover { transform: scale(1.2); }

/*
  *** fut-player-card styles ***
*/
/* .fut-player-card {
  position: relative;
  width: 300px;
  height: 485px;
  background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.8rem 0;
  z-index: 2;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  display: inline-block;
  margin-right: 10px;
}
.fut-player-card .player-card-top {
  position: relative;
  display: -webkit-box;
  display: flex;
  color: #e9cc74;
  padding: 0 1.5rem;
}
.fut-player-card .player-card-top .player-master-info {
  position: absolute;
  line-height: 2.2rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: uppercase;
}
.fut-player-card .player-card-top .player-master-info .player-rating {
  font-size: 2rem;
}
.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 1.4rem;
}
.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 2rem;
  height: 25px;
  margin: 0.3rem 0;
}
.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 2.1rem;
  height: 40px;
}
.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: -1.5rem;
  bottom: 0;
}
.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 2rem;
  padding: 0 1.5rem;
  text-align: right;
  background: none;
}
.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.6rem;
  text-shadow: 2px 2px #333;
}
.fut-player-card .player-card-bottom {
  position: relative;
}
.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.3rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}
.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.3rem;
  overflow: hidden;
}
.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 2px 2px #111;
}
.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.5rem auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
  border-right: 2px solid rgba(233, 204, 116, 0.1);
  padding: 0 2.3rem;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
  display: -webkit-box;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
  margin-right: 0.3rem;
  font-weight: 700;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
  font-weight: 300;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
  border: 0;
} */

/*---------------------------------------------------------------------*/
/*
  *** fut-player-card styles ***
*/
.fut-player-card {
  position: relative;
  width: 150px;
  height: 243px;
  background-image: url(card4.png);
  /* background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png); */
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1.9rem 0;
  z-index: 2;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  display: inline-block;
  margin-right: 10px;
  transition: all .4s ease-in-out;
  transform: scale(0.8);
}
.fut-player-card .player-card-top {
  position: relative;
  display: -webkit-box;
  display: flex;
  color: #e9cc74;
  padding: 0 0.75rem;
}
.fut-player-card .player-card-top .player-master-info {
  position: absolute;
  line-height: 1.1rem;
  font-weight: 150;
  padding: 0.75rem 0;
  text-transform: uppercase;
}
.fut-player-card .player-card-top .player-master-info .player-rating {
  font-size: 1rem;
}
.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 0.7rem;
}
.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 1.5rem;
  height: 18px;
  margin: 0.15rem 0;
}
.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 1.4rem;
  height: 33px;
}
.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: -0.75rem;
  bottom: 0;
}
.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.25rem;
  overflow: hidden;
  font-size: 0.5rem;
  font-weight: 350;
  text-transform: uppercase;
  width: 100%;
  height: 1rem;
  padding: 0 0.75rem;
  text-align: right;
  background: none;
}
.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.3rem;
  text-shadow: 2px 2px #333;
}
.fut-player-card .player-card-bottom {
  position: relative;
}
.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.15rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}
.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.15rem;
  overflow: hidden;
}
.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 2px 2px #111;
}
.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.25rem auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
  border-right: 2px solid rgba(233, 204, 116, 0.1);
  padding: 0 1.15rem;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
  display: -webkit-box;
  display: flex;
  font-size: 0.6rem;
  text-transform: uppercase;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
  margin-right: 0.15rem;
  font-weight: 350;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
  font-weight: 150;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
  border: 0;
}

/*gradient*/
.gradientB {
  color: white;
  background: linear-gradient(45deg, rgba(255, 230, 0, 0.699), rgba(219, 7, 238, 0.877) 100%);
}
.gradientA {
  color: white;
  background: linear-gradient(45deg, rgba(219, 7, 238, 0.877), rgba(255, 230, 0, 0.699) 100%);
}

